@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background: #FDF7FB;
  font-family:"Times New Roman, sans-serif" !important
}

.navbar {
  background-color: transparent;
  /* Navbar arkaplan rengi */
  text-align: center;
  /* Metin ortalaması */
  padding: 10px 0;
  /* Üst ve alt boşluklar */
}

.navbar-title {
  margin: 0;
  /* Başlığın kenarlarda boşluğu olmaması için */
  font-size: 30px;
  /* Başlık yazı boyutu */
  color: black;
  font-style: italic;
  font-weight: 700px;
}

.category-card {
  cursor: pointer;
  min-height: 200px;
  text-align: center;
}

.question-text {
  font-size: 17px;
  font-weight: 500;
}

.hrLine {
  color: #278FDC;
  background-color: #1571b86f;
  height: .5;
  border-color: #ffa50069;
  margin-top: 0;
}

.navbar {
  /* background-image: linear-gradient(-45deg, #cb2b2b85, #360fac7f); */
  /* color: #fff; */
  padding:  15px 20px !important;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar-back-button button:hover {
  text-decoration: underline;
}

.navbar-back-button button:focus {
  outline: none;
}

.note-input{
  margin-top: 25px !important;
  border-left: 4px solid #f59f00 !important;
  border-top: none !important;
  border-right: none !important;
  border-bottom: none !important;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  outline: none;
  background-color: #FFFAF0 !important;
  padding: 50px !important;
  font-family: monospace, sans-serif !important;
  font-size: 15px !important;
}

.note-input-section{
  background-color: white !important;
  border-radius: 50% !important;
  width: 50px !important;
  height: 50px !important;
  top:-25px   !important;
  left: -25px !important;
}